<label>Nombre del servidor</label>
<!-- <input
    type="text"
    class="form-control"
    (input)='onUpdateServerName($event)'
> -->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<!-- <p>{{ serverName }}</p> -->
<button
    class='btn btn-primary mb-2'
    [disabled] = '!allowNewServer'
    (click)='onCreateServer()'>Añadir servidor</button>
<!-- <p [innerText] = 'allowNewServer'></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">El servidor se ha creado -> {{ serverName }}</p>
<ng-template #noServer>
    <p>Ningun servidor se ha creado</p>
</ng-template>
<app-server></app-server>
<!-- <app-server></app-server> -->
